html
{
    height: 100%;
    overflow: hidden;
}

body
{
    color: #f1f1f1;
    margin: 0;
    padding: 0;
    perspective: 1px;
    transform-style: preserve-3d;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
}

/* Header Start */

header li, a, button
{
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #415d60;
    text-decoration: none;
    transition: 0.6s;
}

header
{
    display:flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px 10%;
    position: fixed;
    z-index: 100000;
    width: 84%;
    background-color: #f1f1f1;
    
}

header.sticky
{
    background: #634eaf;
    transition: 0.6s;
}

header.sticky .logo,
header.sticky ul li a
{
    color: #fff;
}

header.sticky button
{
    background-color: white;
    color: #453387;
}

header.sticky button:hover
{
    color: #a491e7;
}

.logo
{
    cursor: pointer;
    margin-right: auto;
}

.nav__links
{
    list-style: none;
}

.nav__links li
{
    display: inline-block;
    padding: 0px 20px;
}

.nav__links li a
{
    transition: all 0.3 ease 0s;
}

.nav__links li a:hover
{
    color: rgb(221, 221, 221);
}

button
{
    margin-left: 20px;
    padding: 9px 25px;
    background-color: #415d60;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3 ease 0s;
    color: #f1f1f1;
}

button:hover
{
    background-color: #729194;
}

button:focus { 
  outline: none; 
}

/* Header End */

.container
{
    box-sizing: border-box;
    min-height: 100vh;
    padding: 30vw 0 5vw;
    position: relative;
    transform-style: inherit;
    width: 100vw;
}

.container h1 
{
    margin-top: -100px;
}

.container, 
.container:before
{
    background: 50% 50% / cover;
}

.container::before
{
    bottom: 0;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    display: block;
    background-image: url(../images/naylolit.svg);
    background-size: cover;
    transform-origin: center center 0;
    transform: translateZ(-1px) scale(2);
    z-index: -1;
    min-height: 100vh;
}

.container * 
{ 
    font-weight: normal;
    letter-spacing: 0.2em;
    text-align: center;
    margin: 0;
    padding: 1em 0;
}